/* CardSpotlightEffect.css */

.card-spotlight-effect {
    position: relative;
    max-width: 24rem;
    overflow: hidden;
    border-radius: 0.875rem;
    border: 1px solid #374151;
    background-image: linear-gradient(to right, #141923, #0a0c13);
    padding: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  
  .spotlight {
    pointer-events: none;
    position: absolute;
    inset: -1px;
    opacity: 0;
    transition: opacity 300ms;
  }
  