@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Rubik+Doodle+Shadow&display=swap");
* {
  font-family: "Figtree", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111520;
  color: #ffffff;
}

.sponsorImage {
  width: 150px;
}

.hero-content {
  height: 80vh; /* Fill the screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2,
p {
  margin: 0;
}

.hero-text {
  font-size: 5vw;
}
.cyan-text {
  color: #00bcd4; /* Cyan color */
}

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;

  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255, 80, 80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}
.logoImage {
  height: 40px;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}
.flag {
  color: black;
}
.topMarginHeader {
  height: 100px;
}
/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
  #navigation {
    margin-top: 20px;
  }
  .hero-text {
    font-size: 9vw;
  }
  .topMarginHeader {
    height: 125px;
  }
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #111520;
    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;

    z-index: 15;
  }
}

@media screen and (min-width: 400px ?? max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}

/* --------------------projects------------------------------ */

::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #5c5c5c; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Optional: Add rounded corners to the thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

/* Optional: Hide the scrollbar when not interacting */
body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #5c5c5c transparent; /* Firefox */
}

/* Optional: For Microsoft Edge */
body::-ms-scrollbar {
  width: 8px;
}

body::-ms-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 4px;
}

body::-ms-scrollbar-track {
  background-color: transparent;
}

/* Add these styles to your CSS or use a styled-components approach */
/* ProjectsPage.css */

.projects-container {
  padding: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  /* background-color: #0a0c13; */
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.project-card:hover {
  transform: scale(1.02);
}

.stack-span {
  font-size: x-small;
  background-color: #555;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.projDesc {
  font-size: small;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #13131a;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: #0a0c13;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: #e74c3c;
  color: #f5f5f5;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.seeMoreButton {
  background-color: #111520;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
}

.popup-body {
  display: flex;
  gap: 20px;
}

.stack-list {
  flex: 1;
  background-color: #171718;
  padding: 20px;
  border-radius: 10px;
}

.stack-list h3 {
  color: #393939;
}

.admin-links a {
  margin-bottom: 5px;
  text-decoration: none;
  color: #5c5c5c;
  font-weight: bold;
}

.projectDesciptionFull {
  font-size: medium;
}

.adminProject {
  font-size: medium;
  color: #515151;
}

.admin-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card h3 a {
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  color: white;
}

.project-card h3 a:hover {
  color: #b8b8b8;
}

.project-card h3 a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}

.project-card h3 a:hover::after {
  width: 100%;
}

/* ProjectsPage.css */

/* ... other styles ... */

.skeleton-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.skeleton-card {
  background-color: #0a0c13;
  padding: 15px;
  border-radius: 0.875rem;
  animation: shimmer 1s infinite linear;
  overflow: hidden; /* Ensure the shimmer gradient doesn't overflow */
  position: relative; /* Create a stacking context for child elements */
  height: 220px;
  margin: -10px
}

.skeleton-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #0a0c13, #12161f, #0a0c13);
  transform: translateX(-100%); /* Initial position outside the card */
  animation: shimmerGradient 1s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes shimmerGradient {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


